<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserCardInfoMapper" >
  <resultMap id="BaseResultMap" type="com.model.UserCardInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="customerName" property="customername" jdbcType="VARCHAR" />
    <result column="bank" property="bank" jdbcType="INTEGER" />
    <result column="cardNumber" property="cardnumber" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, customerName, bank, cardNumber, mobile, status, createTime, balance
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_card_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_card_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.model.UserCardInfo" useGeneratedKeys="true" keyProperty="id">
    insert into user_card_info (id, account, customerName, 
      bank, cardNumber, mobile, status,
      createTime, balance)
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{customername,jdbcType=VARCHAR}, 
      #{bank,jdbcType=VARCHAR}, #{cardnumber,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{balance,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.model.UserCardInfo" >
    insert into user_card_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="customername != null" >
        customerName,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="cardnumber != null" >
        cardNumber,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="balance != null" >
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="customername != null" >
        #{customername,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="cardnumber != null" >
        #{cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.UserCardInfo" >
    update user_card_info
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="customername != null" >
        customerName = #{customername,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="cardnumber != null" >
        cardNumber = #{cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.UserCardInfo" >
    update user_card_info
    set account = #{account,jdbcType=VARCHAR},
      customerName = #{customername,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      cardNumber = #{cardnumber,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      balance = #{balance,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectBySearchable" parameterType="Searchable" resultMap="BaseResultMap">
    select a.id, account, customerName, bank, cardNumber, mobile,
            status, a.createTime, balance, b.text as bankStr
    from user_card_info a
    left join sys_code_table b on a.bank = b.typeCode
    <include refid="com.dao.common.CommonMapper.Serach_Where"/>
  </select>

  <select id="selectList" parameterType="Searchable" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from user_card_info
    <include refid="com.dao.common.CommonMapper.Serach_Where"/>
  </select>


  <delete id="deleteBySearchable" parameterType="Searchable">
    delete from user_card_info
    <include refid="com.dao.common.CommonMapper.Serach_Where"/>
  </delete>

</mapper>