<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserRechargeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.model.UserRechargeDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="recType" property="rectype" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="flowNo" property="flowno" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="recTime" property="rectime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="actTime" property="acttime" jdbcType="TIMESTAMP" />
    <result column="update_uid" property="updateUid" jdbcType="INTEGER" />
    <result column="bborderid" property="bborderid" jdbcType="VARCHAR" />
    <result column="bank_id" property="bankId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, recType, user_id, flowNo, amount, recTime, status, actTime, update_uid, bborderid,
    bank_id, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_recharge_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_recharge_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.model.UserRechargeDetail" >
    insert into user_recharge_detail (id, recType, user_id, 
      flowNo, amount, recTime,
      status, actTime, update_uid,
      bborderid, bank_id, remark
      )
    values (#{id,jdbcType=BIGINT}, #{rectype,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
      #{flowno,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{rectime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER}, #{acttime,jdbcType=TIMESTAMP}, #{updateUid,jdbcType=INTEGER},
      #{bborderid,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.model.UserRechargeDetail" >
    insert into user_recharge_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rectype != null" >
        recType,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="flowno != null" >
        flowNo,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="rectime != null" >
        recTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="acttime != null" >
        actTime,
      </if>
      <if test="updateUid != null" >
        update_uid,
      </if>
      <if test="bborderid != null" >
        bborderid,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rectype != null" >
        #{rectype,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="flowno != null" >
        #{flowno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="rectime != null" >
        #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="acttime != null" >
        #{acttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="bborderid != null" >
        #{bborderid,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.model.UserRechargeDetail" >
    update user_recharge_detail
    <set >
      <if test="rectype != null" >
        recType = #{rectype,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="flowno != null" >
        flowNo = #{flowno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="rectime != null" >
        recTime = #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="acttime != null" >
        actTime = #{acttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null" >
        update_uid = #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="bborderid != null" >
        bborderid = #{bborderid,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.model.UserRechargeDetail" >
    update user_recharge_detail
    set recType = #{rectype,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      flowNo = #{flowno,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      recTime = #{rectime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      actTime = #{acttime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=INTEGER},
      bborderid = #{bborderid,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 充值查询 -->
  <select id="rechargeList" parameterType="Searchable" resultType="java.util.Map">
      SELECT a.id,a.recType,a.flowNo,a.amount,a.status,a.recTime,a.actTime,a.update_uid,a.bborderid,
      b.text,c.account,c.customername,d.text AS bankname,c.cardnumber,c.mobile,c.status AS cardStatus,
      e.username AS exeUser,
      CASE a.recType WHEN 'A01' THEN '充值' ELSE '转账' END AS recTypes,
      CASE a.status WHEN 1 THEN '已到账' WHEN 2 then '未到账' ELSE '未到账' END as statusName,
      a.remark as remark
      FROM user_recharge_detail a
      LEFT JOIN sys_code_table b ON a.recType=b.typeCode
      LEFT JOIN user_card_info c ON a.user_id = c.id
      LEFT JOIN sys_code_table d ON c.bank = d.id
      LEFT JOIN sys_user e ON a.update_uid = e.id
    <include refid="com.dao.common.CommonMapper.Serach_Where"/>
      order by a.recTime desc
  </select>

  <!-- 提现 -->
  <select id="drawList" parameterType="Searchable" resultType="java.util.Map">
      SELECT a.id,a.drawTime,a.amount,a.counts,a.flowNo,a.lastUpdateTime,a.status,
      b.account,b.customername,c.text as bankname,b.cardnumber,b.mobile,d.username AS exeUser,
      CASE a.statuss WHEN 0 THEN '申请' ELSE '已处理' END AS description,
      a.remark as remark
      FROM user_withdraw_detail a
      LEFT JOIN user_card_info b ON a.user_id = b.id
      LEFT JOIN sys_code_table c ON b.bank = c.id
      LEFT JOIN sys_user d ON a.update_uid = d.id
      <include refid="com.dao.common.CommonMapper.Serach_Where"/>
      order by a.drawTime desc
  </select>

  <!-- 用户列表 -->
  <select id="userList" parameterType="Searchable" resultType="java.util.Map">
      SELECT a.*,b.text FROM user_card_info a LEFT JOIN sys_code_table b ON a.bank=b.id
      <include refid="com.dao.common.CommonMapper.Serach_Where"/>
  </select>

</mapper>